.pantsextend{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.pantscontact{
    @extend .pantsextend;
    text-decoration: solid;
    text-align: center;
    margin-top: 5%;
    color: rgba(230, 216, 24, 0.904);
}