@mixin card-img-card1($width,$height,$center){ 
    
        width: $width;
        height: $height;
        align-items: $center;
        
}

.card-img-card1{
    @include card-img-card1 (90px,70px, center)
}
