*{
    margin: 0%;
    padding: 0%;
 }
/*
 a{
    text-decoration: none;
    color: black;
}
*/


/*
header,footer{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: rgb(161, 97, 221);
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
}
*/


.nav-item{
    display: flex;

}

.nav-link:hover{
    color: #e5b22f
}


header{
    background-color: rgb(161, 97, 221);
    
}


footer{
    background-color: rgb(161, 97, 221);
    padding: 15px;
}


/*
.menu-icon img{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    
}
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .nav-menu ul{
        display: block;
        position: fixed;
        top: 50px;
        left: -100%;
        width: 100%;
        height: 100vh;
        */

/*
nav a {
    font-weight: 600px;
    padding-right: 10px;
}
*/

.centrar{
    text-align: center;
}

.centrar-texto{
text-align: center;
}

/*
.container section{
    position: relative;
    width: 90%;
    width: 100%;
    display: grid;
    grid: 2em;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    grid-column: span 1;
    text-align: center;
    
}
.container section img{
    width: 100%;
    height: auto;
    padding: 25px;
}
*/

img:hover {
    filter: opacity(.5);
}

.card-img-card1{
    width: 90%;
    height: 70%;
    align-items: center;
}

.card1{
    align-items: center;
    text-align: center;
}

.card-img-card2{
    width: 90%;
    height: 70%;
    align-items: center;
}

.card2{
    align-items: center;
    text-align: center;
}

.card-img-card3{
    width: 90%;
    height: 70%;
    align-items: center;
}

.card3{
    align-items: center;
    text-align: center;
}

.primeralinea{
    padding-top: 5%;
}

.card-img-card4{
    width: 90%;
    height: 70%;
    align-items: center;
}

.card4{
    align-items: center;
    text-align: center;
}

.card-img-card5{
    width: 90%;
    height: 70%;
    align-items: center;
}

.card5{
    align-items: center;
    text-align: center;
}

.card-img-card6{
    width: 90%;
    height: 70%;
    align-items: center;
}

.card6{
    align-items: center;
    text-align: center;
}